.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 0px 0px 40px;
}
label {
  margin: 10px;
}
input,textarea {
  width: 80%;
}
button {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 70px;
}
